html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title Test
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width')
    link(rel='stylesheet', href='/app.css')
    //- link(rel='stylesheet', href='/sprite.css')

  body
    .header-container
    .main-container
    .footer-container

    script.
      window.config=!{JSON.stringify(config)}
    script(src='/app.js')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
