.container
  max-width 960px
  margin 0 auto
  width auto
  background-color #f6f6f6

.container
  max-width 100%
  margin 0 auto
  height 100%
  position relative
  overflow hidden

*
  margin 0
  padding 0
  box-sizing border-box
  font-family 'Lato', sans-serif

html, body
  width 100%
  height 100%
  position absolute
  left 0
  top 0
  background-color #a9ccdb

.items-container
  position absolute
  top 0
  bottom 90px
  width 100%

.items-base
  width 110%
  height 150px
  position absolute
  left 0
  bottom 0
  border-top 10px solid #aaa
  background-color #ddd

.item-container
  display inline-block
  position relative
  height 100%
  width 11.111111%
  text-align center
  border-style dashed
  border-color rgba(0,0,0,.2)
  border-width 0 2px 0 0

.item-icono
  background-image url(../IMG/categorias/saludIcon.png)
  background-repeat no-repeat
  background-position center
  background-size contain
  height 200px
  width 100%
  position absolute
  bottom 60px

.item-nombre
  height 50px
  width 100%
  line-height 50px
  position absolute
  bottom 0
  text-align center
  font-size 20px
  color #E9679B
  font-weight bold

.item-moneda-container
  width 60px
  height 25px
  margin 2px auto
  background-image url(../IMG/billeteIcon.png)
  background-size contain
  background-position center center
  background-repeat-x no-repeat
  background-repeat-y no-repeat

.total-dinero
  position absolute
  left 50%
  bottom 20px
  line-height 50px
  width 380px
  margin-left -190px
  margin-top -25px
  text-align center
  font-weight 600
  color #666
  font-size 40px

.item-monedas-container
  margin-bottom 15px

#street-section-sky
  position absolute
  left 0
  bottom 150px
  width 100%
  pointer-events none
  background-size 100% 350px
  background-repeat no-repeat
  background-position 0 0
  background-color #a9ccdb
  .rear-clouds
    bottom 686px
    z-index auto
  .front-clouds
    bottom 405px
    z-index auto

.rear-clouds.rear-clouds, .front-clouds.rear-clouds
  background-image url(../IMG/sky-rear.png)
  background-size 250px 120px
  height 120px
  bottom 330px

.rear-clouds.front-clouds, .front-clouds.front-clouds
  background-image url(../IMG/sky-front.png)
  background-size 250px 280px
  opacity .5
  height 280px
  bottom 0
  border-bottom 50px solid #a5c4d1

.rear-clouds, .front-clouds
  background-repeat repeat-x
  background-position 0 0
  left 0
  width 100%
  z-index -1

