.container
      section#street-section-sky
        .rear-clouds(style='-webkit-transform: translateX(0px);')
        .front-clouds(style='-webkit-transform: translateX(0px);')
      .items-base
      .items-container
        .item-container
          .item-monedas-dragger
          .item-icono
          .item-nombre Salud
        .item-container
          .item-monedas-dragger
          .item-icono
          .item-nombre Salud
        .item-container
          .item-monedas-dragger
          .item-icono
          .item-nombre Salud
        .item-container
          .item-monedas-dragger
          .item-icono
          .item-nombre Salud
        .item-container
          .item-monedas-dragger
          .item-icono
          .item-nombre Salud
        .item-container
          .item-monedas-dragger
          .item-icono
          .item-nombre Salud
        .item-container
          .item-monedas-dragger
          .item-icono
          .item-nombre Salud
        .item-container
          .item-monedas-dragger
          .item-icono
          .item-nombre Salud
        .item-container
          .item-monedas-dragger
          .item-icono
          .item-nombre Salud
      .total-dinero $6.000.000.000.00