.container-wrapper {
position: relative;
top: 0;
left: 0;
width: 100%;
}

.container {
max-width: 100%; margin: 0 auto; 
/* background-color: #eee; */
height: 100%;
position: relative;
overflow: hidden;
}
.inner-container {
position: relative;
width: 100%;
height: 100%;
top: 0;
left: 0;
padding: 1px;
}

.inset-container {
position: relative;
height: 95%;
width: 95%;
/* overflow: hidden; */
margin: 5px auto;
border: 10px solid rgb(255,255,255);
border-bottom-width: 50px;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
border-radius: 2px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
opacity: 0;
transition: opacity 500ms;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lato', sans-serif;
cursor: default;
}

html, body {
width: 100%;
position: relative;
left: 0;
top: 0;
background-color: #a9ccdb;
}

.title {
position: absolute;
top: 40%;
margin-top: -35px;
width: 100%;
height: 70px;
text-align: center;
line-height: 70px;
font-size: 60px;
color: rgba(0,0,0,.6);
text-transform: uppercase;
}

.subTitle {
position: absolute; 
top: 50%; 
left: 50%;
width: 650px; 
margin-left: -325px;
text-align: center; 
line-height: 40px; 
font-size: 25px; 
color: rgba(0,0,0,.4); 
}

.buttonIniciarJuego {
width: 100%;
height: 80px;
position: absolute;
bottom: 0;
text-align: center;
font-size: 20px;
text-transform: uppercase;
cursor: pointer;
opacity: .7;
transition: all 300ms;
background-image: url(../IMG/downArrows.png); 
background-size: 40px 40px; 
background-position: center 35px; background-repeat: no-repeat;
}

#resultados > .buttonIniciarJuego {
color: #eee;
background-image: url(../IMG/downArrows-white.png);
}

.buttonIniciarJuego:hover {
opacity: 1;
bottom: -10px;
transition: all 300ms;
}

.buttonIniciarJuego::before {
content: '';
background-image: url(../IMG/downArrows.png);
background-size: 60px 60px;
background-position: center bottom;
background-repeat: no-repeat;
}

.items-container {
position: absolute;
top: 0;
bottom: 0;
width: 100%;
}

.datacontainer {
width: 100%;
position: absolute;
top: 0px;
bottom: 90px;
}

.textDataContainer {
position: absolute;
width: 100%;
height: 80px;
bottom: 0;
left: 0;
background-color: #ddd;
transition: all 300ms;
}

.textDataContainer:hover {
min-width: 130px;
z-index: 1000;
box-shadow: 0 1px 1px rgba(0,0,0,.2);
transition: all 300ms;
}

.nombrecategoria {
position: absolute;
width: 100%;
bottom: 50px;
padding: 0px 10px;
font-size: 12px;
font-weight: bold;
text-transform: uppercase;
text-align: center;
text-overflow: ellipsis;
overflow: hidden;
height: 2em;
line-height: 1em;
}

.presupuestoCategoria {
position: absolute; width: 100%; 
bottom: 5px; padding: 0px 10px; font-size: 15px; 
font-weight: normal; text-transform: uppercase; text-align: center;
white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
color: #777;
}

.porcentajeCategoria {
position: absolute;
width: 100%;
bottom: 22px;
padding: 0px 10px;
font-size: 20px;
font-weight: bold;
text-transform: uppercase;
text-align: center;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
color: #169CBF;
}

.items-base {
width: 100%;
height: 90px;
position: absolute;
left: 0;
bottom: 0;
border-top: 10px solid #aaa;
background-color: #ddd; 
}

#resultados > .items-base {
border-color: #615343;
background-color: #3F372E;
color: #eee;
}

.item-container {
display: inline-block; 
position: relative; 
height: 100%; 
border-width: 0 1px;
border-style:dashed;
border-color: rgba(0,0,0,.0);
text-align: center;
transition:border 300ms;
}

.inset-container .item-container {
border: 1px solid rgba(0,0,0,.06);
border-width: 0 1px;
}

.item-icono {
background-image: url(../IMG/categorias/saludIcon.png);
background-repeat: no-repeat;

background-position: center;
background-size: contain;
height: 200px;
width: 100%;
position: absolute;
bottom: 60px;
}

.item-nombre {
height: 50px;
width: 100%;
line-height: 50px;
position: absolute;
bottom: 0;
text-align: center;
font-size: 20px;
color: #E9679B;
font-weight: bold;
}

.imagenesCategoriaContainer {
position: absolute;
width: 100%;
height: 90%;
bottom: 0;
text-align: center;
}

.imagenCategoria {
height: 100%;
width: 100%;
margin: auto;
background-position: bottom center;
background-repeat: no-repeat;
background-size: contain;
position: absolute;
bottom: 0;
}

.infoCategoriaContainer {
    background-color: rgba(255,255,255,.9);
    padding: 5px;
    font-size: 13px;
    text-align: center;
    max-width: 300px;
    position: absolute;
    left: 50%;
    right: 0;
    width: 200px;
    margin-left: -100px;
    bottom: 100px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    text-overflow: ellipsis;
    opacity: 1;
    z-index: 1000;
    opacity: 0;
    transition: opacity 400ms;
}

.infoCategoriaContainer::before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -10px;
    width: 0;    height: 0;    
    border-left: 10px solid transparent;   
    border-right: 10px solid transparent;      
    border-top: 10px solid rgba(255,255,255,.9);
}

.textDataContainer:hover .infoCategoriaContainer {
	opacity: 1;
    transition: opacity 400ms;
}

.headerName {
position: absolute;
top: 0;
left: 50%;
margin-left: -250px;
width: 500px;
height: 50px;
z-index: 100;
background-color: #eee;
line-height: 50px;
text-align: center;
font-size: 30px;
font-weight: bold;
color: #169CBF;
text-transform: uppercase;
}

.inset-container .headerName {
position: static;
display: inline-block;
background-color: #fff;
font-size: 25px;
margin-left: 0;
text-align: center;
width: auto;
height: 40px;
line-height: 28px;
padding: 5px 30px;
margin: 5px;
}

.headerName.button:hover {
background-color: #169CBF;
color: #eee;
}

.headerName.button.selected {
background-color: #169CBF; color: #eee;
}

.headerName.button {
border: 1px solid #ddd;
border-bottom-width: 2px;
border-radius: 5px;
font-size: 15px;
cursor: pointer;
background-color: #eee;
transition: all 300ms;
}

.inset-container .street-section-sky {
height: 100%;
overflow: hidden;
}

.header {
position: fixed;
left: 0;
top:-85px;
width: 100%;
height: 50px;
z-index: 100;
background-color: #eee;
box-shadow: 0 2px 3px rgba(0,0,0,.2);
}

.finishButton {
position: absolute;
right: 0;
top: 0;
margin: 2.5px;
height: 45px;
line-height: 44px;
padding: 0 50px 0 15px;
background-color: #169CBF;
color: #eee;
font-size: 20px;
font-weight: bold;
text-transform: uppercase;
cursor: pointer;
background-image: url(../IMG/rightArrow.png);
background-position: right center;
background-size: 45px 45px;
background-repeat: no-repeat;
border-bottom: 4px solid rgba(0,0,0,.2);
border-right: 0px solid rgba(0,0,0,.2);
border-radius: 3px;
}

#resultados {
padding-top: 50px;
padding-bottom: 100px;
}

.wrapper-half-height {
height: 50%;
position: relative;
top: 0;
}

.wrapper-bottom {
position: absolute;
bottom: -50px;
width: 100%;
height: 50px;
text-align: center;
}

#datos .title {
height: 140px;
left: 20%;
max-width: 60%;
right: 20%;
top: 32%;
height: 140px;
color:rgba(255,255,255,.8);
}

#datos .subTitle {
left: 10%;
margin-left: 0;
top: 55%;
width: 80%;
color:rgba(255,255,255,.6);
}

#datos .buttonIniciarJuego {
background: none;
color:#eee;
bottom:10px;
}
#datos .buttonIniciarJuego:hover {
bottom: 30px;
}
#datos .buttonIniciarJuego::before {
background-image: url(../IMG/downArrows-white.png);
-webkit-transform: rotateX(180deg);
-ms-transform: rotateX(180deg);
-o-transform: rotateX(180deg);
transform: rotateX(180deg);
display: block;
height: 60px;
margin: 0 auto;
width: 60px;
}

.total-dinero {
position: absolute;
left: 50%;
width: 350px;
margin-left: -175px;
top: 50px;
line-height: 50px;
text-align: center;
font-weight: 600;
color: #666;
font-size: 20px;
background-color: #eee;
border-radius: 0 0 5px 5px;
display:none;
}

.street-section-sky {
position: absolute;
left: 0;
bottom: 90px;
width: 100%;
pointer-events: none;
background-size: 100% 550px;
background-repeat: no-repeat;
background-position: 0 0;
background-color: #a9ccdb;
}


#inicio .street-section-sky {
bottom: 0;
}

.inset-container .street-section-sky {
top:0;
bottom:auto;
}


.rear-clouds {
background-image: url(../IMG/sky-rear.png);
background-size: contain;
height: 215px;
}

.street-section-sky .front-clouds {
bottom: 0;
z-index: auto;
}
.front-clouds {
background-image: url(../IMG/sky-front.png);
background-size: contain; 
height: 280px;
bottom: 0;
}

.rear-clouds, .front-clouds {
background-repeat: repeat-x;
background-position: center bottom;
left: 0;
width: 100%;
z-index: -1;
opacity: .5;
}

.ui-resizable-w {
cursor: -webkit-grab !important;
width: 20px !important;
left: 0 !important;
top: 50% !important;
height: 100px !important;
margin-top: -50px;
background-color: rgba(255,255,255,.7);
background-image:url(../IMG/leftExpand.png);
background-position:center center;
background-size:contain;
background-repeat:no-repeat;
}

.ui-resizable-e {
cursor: -webkit-grab !important;
width: 20px !important;
right: 0 !important;
top: 50% !important;
height: 100px !important;
margin-top: -50px;
background-color: rgba(255,255,255,.7);
background-image:url(../IMG/rightExpand.png);
background-position:center center;
background-size:contain;
background-repeat:no-repeat;
}


/*Footer*/

.footerContainer {
text-align: center;
width: 100%;
background: #169CBF;
color: #F5F7FA;
}

.linksContainer {
margin: 10px 0;
font-size: 18px;
}

.linksContainer a {
color: #eee;
text-decoration: none;
margin: 0 7px;
border-bottom: 1px dotted;
transition:all 300ms;
}
.linksContainer a:hover {
color:#fff;
border-bottom:1px solid;
transition:all 300ms;
}

.contactContainer {
margin: 20px 0;
display:inline-block;
}

.contactContainer a {
width: 32px;
height: 32px;
display: inline-block;
background-position:center;
background-repeat:no-repeat;
background-size:contain;
margin: 5px 5px;
opacity:.8;
transition:all 300ms;
}
.contactContainer a:hover {
opacity:1;
transition:all 300ms;
}
.contactContainer a.page {
background-image: url(../IMG/webIcon.png);
}
.contactContainer a.facebook {
background-image: url(../IMG/facebookIcon.png);
}
.contactContainer a.twitter {
background-image: url(../IMG/twitterIcon.png);
}
.contactContainer a.google {
background-image: url(../IMG/googleplusIcon.png);
}

.creditsContainer {
border-top: 1px solid #96CEDD;
background-color: #96CEDD;
color: #0A728D;
padding: 10px 0;
}

.heartIcon {
display: inline-block;
width: 15px;
height: 15px;
background-image: url(../IMG/heartIcon.png);
background-position: center;
background-repeat: no-repeat;
background-size: contain;
vertical-align: bottom;
}

.logoPartido {
margin: auto;
width: 240px;
max-width: 240px;
height: 240px;
background-image: url(../IMG/Isologo.gif);
background-size: cover;
background-position: center center;
border-radius: 125px;
box-shadow: 0 0 10px rgba(0,0,0,.5);
display: inline-block;
}


/*Share buttons*/

.shareButtonFacebook {

	display: inline-block;
	background: #415E9B;
	border-radius: 3px;
	text-decoration: none;
	font-size: 15px;
	padding: 10px 10px 10px 35px;
	

	margin: 0;
	color: #fff;
	position:relative;
	cursor:pointer;
	opacity:.8;
	transition:all 200ms;
}
.shareButtonFacebook::before{
	width: 19px;
	height: 19px;
	position: absolute;
	margin: 0px 7px;
	left: 0;
	content: '';
	padding-left: 25px;
	background-image:url(../IMG/facebookIcon.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}
.shareButtonFacebook:hover {
	opacity:1;
	transition:all 200ms;
}

.wrapper-bottom .shareButtonFacebook {
    position: absolute;
    right: 195px;
    top: 6px;
}

.shareButtonTwitter {
  display: inline-block;
  background: #7FC2EE;
  border-radius: 3px;
  text-decoration: none;
  font-size: 15px;

  padding: 10px 10px 10px 35px;
  margin: 0;
  color: #fff;
  position:relative;
  cursor:pointer;
  opacity:.8;
  transition:all 200ms;
}
.shareButtonTwitter::before{
	width: 19px;    
	height: 19px;    position: absolute;    margin: 0px 7px;    left: 0;        
	padding-left: 25px;
	content: '';
	background-image:url(../IMG/twitterIcon.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}
.shareButtonTwitter:hover {
	opacity:1;
	transition:all 200ms;
}

.wrapper-bottom .shareButtonTwitter {
    position: absolute;
    right: 0;
    top: 6px;
}