header.wrapper.clearfix
  h1.title #{title}
  nav
    ul
      li
        a(href='#')
          | Link 1
      li
        a(href='#')
          | Link 2
      li
        a(href='#')
          | Link 3
